@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.player-place {
		@apply aspect-square w-[8.7vw] md:w-16 flex items-center justify-center;
	}

	.slot {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		height: 50%;
		width: 60%;
		transform-origin: bottom;
		clip-path: polygon(100% 0, 0 0, 50% 100%);
		left: 20%;
	}

	.slot:nth-child(1) {
		@apply bg-yellow-200;
		rotate: calc(360deg / 6 * 0);
	}

	.slot:nth-child(2) {
		@apply bg-orange-200;
		rotate: calc(360deg / 6 * 1);
	}

	.slot:nth-child(3) {
		@apply bg-red-400;
		rotate: calc(360deg / 6 * 2);
	}

	.slot:nth-child(4) {
		@apply bg-pink-300;
		rotate: calc(360deg / 6 * 3);
	}

	.slot:nth-child(5) {
		@apply bg-blue-400;
		rotate: calc(360deg / 6 * 4);
	}

	.slot:nth-child(6) {
		@apply bg-green-400;
		rotate: calc(360deg / 6 * 5);
	}
}
